/* UTILITIES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    height: 75px;
    background-color: rgba(8,11,18,255);
    width: 100%;
}
#main-section{
    height: calc(100vh - 75px);
    
}

.cont-mainsection{
    display: flex;
    height: 100%;
    
}

.content{
    width: calc(100vw - 75px);
    background-color: rgba(20,25,34,255);
    overflow-y: auto;
    margin-top: 75px;
}


.barra-late{
    width: 200px;
    background-color: rgba(0,0,0,255);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.bar-play{
    width: 250px;

}

.container{
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.row-nowrap{
    display: flex;
}

.col{
    width: calc(100% / 6 - 20px);
    margin: 10px;
    
}

.col-player{
    width: calc(100% / 6 - 20px);
    margin: 10px;
    
}
.barra-alta{
   width: 100%;
}

.barra-bassa{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.profile-img{
    background-color: grey;
    border-radius: 50%;
}

.space-bet{
    justify-content: space-between;
    display: flex;
}

.space-around{
    justify-content: space-around;
    display: flex;
}

.img-items{
    width: 15%;
}

.padding-col{
    padding: 15px;
}

.padding-top{
    padding-top: 15px;
}

.direction-row{
    display: flex;
    flex-direction: row;
}

.direction-column{
    display: flex;
    flex-direction: column;
}

.center{
    justify-content: center;
    display: flex;
}

.gap{
    gap: 20px;
}

.img-album{
    width: 100%;
}

.margin-top{
    margin-top: 200px;
}

.img-artist{
    width: 100%;
    border-radius: 50%;
}

.inline{
    display: inline;
}

.align{
    align-self: center;
}

.border{
    border: solid rgba(117,120,125,255) 1px ;
    border-radius: 10%;
    padding: 10px;
    
}

.center-li{
    justify-content: center;
    display: flex;
}


/* hover */
li:hover{
    color: white;
}

span:hover{
    color: white;
}



/* BG & COLOR*/

.bg-blackside{
    background-color: rgba(0,0,0,255);
}

.bg-blackmain{
    background-color: rgba(20,25,34,255);
}

.bg-player{
    background-color: rgb(40,40,40);
}

.bg-header{
    background-color: rgba(8,11,18,255);
}

.grey-text{
    color: rgba(117,120,125,255);
}

.white-text{
    color: white;
    font-weight: 600;
    line-height: normal;
}

li{
    list-style: none;
    padding-top: 15px;
}

.ul-playlist{
    overflow-y: auto;
}

.height{
    height: 210px;
}
/* HEADER */

.right{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.left{
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}
/* FOOTER */

footer{
    position: fixed;
    width: 100%;
    z-index: 1;
}

.img-footer{
    width: 15%;
}

.block{
    display: none;
}


/* -------------------------------------------- */

@media all and (max-width: 1200px) and (min-width: 768px) {
    .direction-row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .col{
        width: calc(100% / 4 - 20px);
        margin: 10px;
        
    }
    
}

@media all and (max-width: 768px) and (min-width: 576px) {
    .direction-row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .col{
        width: calc(100% / 2 - 20px);
        margin: 10px;
        
    }

    
    
}

@media all and (max-width: 576px) and (min-width: 0px) {
    .direction-row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .col{
        width: calc(100% / 2 - 20px);
        margin: 10px;
        
    }

    .none{
        display: none;
    }

    .barra-late{
        width: 75px;
        background-color: rgba(0,0,0,255);
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .barra-alta{
        width: 100%;
        justify-content: center;
    }
     
    .barra-bassa{ 
         width: 100%;
         display: flex;
         flex-direction: column;
         
    }

    .img-items{
        width: 60%;
    }

    .content{
        width: calc(100vw - 75px);
        background-color: rgba(20,25,34,255);
        overflow-y: auto;
        margin-top: 75px;
    }

    .block{
        display: block;
        width: 70%;
    }
    
    .col-player{
        width: calc(100% / 6 - 20px);
        
    }


    
}